<div class="container">
  <div
    class="chat-list mat-elevation-z5"
    [ngStyle]="{ 'background-color': (currentUser$ | async)?.color }"
  >
    <div class="search-input">
      <mat-form-field>
        <input
          matInput
          placeholder="Search for users..."
          [matAutocomplete]="users"
          [formControl]="searchControl"
          style="color: white"
        />
      </mat-form-field>
      <mat-autocomplete #users="matAutocomplete">
        <mat-option
          *ngFor="let user of users$ | async"
          [value]="''"
          (click)="createChat(user)"
        >
          {{ user.displayName }}
        </mat-option>
      </mat-autocomplete>
    </div>

    <mat-selection-list [multiple]="false" [formControl]="chatListControl">
      <mat-divider></mat-divider>

      <mat-list-option *ngFor="let chat of myChats$ | async" [value]="chat.id">
        <div class="chat-title">
          <lucide-icon
            name="ghost"
            size="17"
            style="padding-top: 1px; margin-right: px"
          ></lucide-icon>
          <span class="chat-name">{{ chat.chatName }}</span>
          <span class="chat-date" style="font-size: 0.5rem">{{
            chat.lastMessageDate | dateDisplay
          }}</span>
        </div>
        <p mat-line style="font-size: 0.7rem">{{ chat.lastMessage }}</p>
        <mat-divider></mat-divider>
      </mat-list-option>
    </mat-selection-list>
  </div>
  <div class="messages mat-elevation-z5">
    <div
      class="messages-header"
      *ngIf="selectedChat$ | async as selectedChat; else noChatSelected"
    >
      <mat-icon style="padding-right: 3px; padding-top: 2px">face</mat-icon>
      <h2>{{ selectedChat.chatName }}</h2>
    </div>
    <ng-template #noChatSelected>
      <h2>Chats</h2>
    </ng-template>
    <mat-divider></mat-divider>
    <div class="chat-area">
      <ng-container *ngIf="user$ | async as currentUser">
        <ng-container *ngIf="messages$ | async as messages">
          <div
            class="chat-bubble-container"
            [ngClass]="{ sender: message.senderId === currentUser.uid }"
            *ngFor="let message of messages"
          >
            <div
              class="chat-bubble"
              [ngStyle]="{
                'background-color':
                  message.senderId === (currentUser$ | async)?.uid
                    ? (currentUser$ | async)?.color
                    : 'white',
                color:
                  message.senderId === (currentUser$ | async)?.uid
                    ? 'white'
                    : 'black'
              }"
            >
              {{ message.text }}
              <span
                class="chat-time"
                [ngStyle]="{
                  color:
                    message.senderId === (currentUser$ | async)?.uid
                      ? 'white'
                      : 'black'
                }"
              >
                {{ message.sentDate | dateDisplay }}
              </span>
            </div>
          </div>
        </ng-container>
      </ng-container>
      <div #endOfChat></div>
    </div>
    <div class="input-area">
      <mat-form-field appearance="outline">
        <input
          matInput
          placeholder="Enter your message..."
          [formControl]="messageControl"
          (keydown.enter)="sendMessage()"
        />
        <button mat-icon-button matSuffix (click)="sendMessage()">
          <mat-icon>send</mat-icon>
        </button>
      </mat-form-field>
    </div>
  </div>
</div>
