<!-- pass-reset.component.html -->
<div class="form-container mat-elevation-z5">
  <h1>Password Reset</h1>
  <form [formGroup]="resetPasswordForm" (ngSubmit)="submit()">
    <mat-form-field>
      <input
        matInput
        type="password"
        placeholder="New Password"
        formControlName="newPassword"
      />
      <mat-error *ngIf="newPassword?.errors?.['required']">
        New Password is required
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        type="password"
        placeholder="Confirm New Password"
        formControlName="confirmNewPassword"
      />
      <mat-error *ngIf="confirmNewPassword?.errors?.['required']">
        Confirm New Password is required
      </mat-error>
      <mat-error *ngIf="resetPasswordForm.errors?.['passwordsDontMatch']">
        Passwords should match
      </mat-error>
    </mat-form-field>

    <div class="center margin-top">
      <!-- Disable the button if the form is invalid -->
      <button
        type="submit"
        mat-raised-button
        color="primary"
        [disabled]="!resetPasswordForm.valid"
      >
        Reset Password
      </button>
    </div>
  </form>
</div>
