<div
  class="form-container mat-elevation-z5 text-center"
  *ngIf="user$ | async as user"
>
  <h1 *ngIf="user$ | async as user">
    Update Profile:
    <span [style.color]="user.color || 'black'">{{ user.displayName }}</span>
  </h1>

  <div class="icon-container" [matMenuTriggerFor]="colorMenu">
    <mat-icon
      class="larger-icon"
      [style.color]="user.color"
      (mouseenter)="onMouseEnter()"
      (mouseleave)="onMouseLeave()"
    >
      face
    </mat-icon>
  </div>

  <!-- <style>
    ::ng-deep .cdk-overlay-pane {
      transform: translate(18%, -5%) !important;
    }
  </style> -->
  <mat-menu
    #colorMenu="matMenu"
    [hasBackdrop]="true"
    [overlapTrigger]="false"
    class="profile-menu"
  >
    <ng-container *ngFor="let color of colorOptions">
      <button mat-menu-item (click)="setColor(color)">
        <div class="color-circle" [style.background]="color"></div>
      </button>
    </ng-container>
  </mat-menu>

  <form class="margin-top" [formGroup]="profileForm" (ngSubmit)="saveProfile()">
    <mat-form-field>
      <input
        type="text"
        matInput
        formControlName="firstName"
        placeholder="First Name"
      />
    </mat-form-field>
    <mat-form-field>
      <input
        type="text"
        matInput
        formControlName="lastName"
        placeholder="Last Name"
      />
    </mat-form-field>

    <!-- <mat-form-field>
      <input
        type="text"
        matInput
        formControlName="displayName"
        placeholder="Display Name"
      />
    </mat-form-field> -->

    <mat-form-field>
      <textarea
        type="text"
        matInput
        formControlName="bio"
        placeholder="Bio/Mood"
        rows="1"
      ></textarea>
    </mat-form-field>

    <button
      type="submit"
      class="margin-top"
      mat-raised-button
      [style.background]="user.color || 'rgb(128, 128, 128)'"
      [style.color]="'white'"
    >
      Save Changes
    </button>
  </form>
</div>
